        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        .App {
            text-align: center;
        }
        
        body {
            background-color: rgb(140, 192, 188);
        }
        
        .title-editor {
            text-align: left;
            background-color: rgb(5, 90, 76);
            padding-left: 15px;
            padding-top: 6px;
            padding-bottom: 6px;
            color: white;
            font-weight: bold;
            border-radius: 5px;
        }
        
        .container {
            display: inline-block;
            align-items: center;
            justify-content: center;
            padding-top: 15px;
        }
        
        #editor {
            height: 200px;
            width: 37rem;
            background-color: #E0EEEE;
            box-shadow: 0 0 33px 0px black;
            font-family: "Times New Roman", Times, serif;
            font-size: 1.2rem;
            padding-right: 10px;
            padding-left: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        
        .container-preview {
            margin: auto;
            align-content: center;
            justify-content: center;
            align-items: center;
            padding-top: 20px;
            overflow: hidden;
            word-wrap: break-word;
        }
        
        .title-preview {
            width: 47rem;
            background-color: rgb(5, 90, 76);
            margin: auto;
            text-align: left;
            padding-left: 15px;
            padding-top: 6px;
            padding-bottom: 6px;
            color: white;
            font-weight: bold;
            border-radius: 5px;
        }
        
        #preview {
            max-height: 800vh;
            width: 47rem;
            background-color: #E0EEEE;
            margin: auto;
            box-shadow: 0 0 53px 10px black;
            word-wrap: break-word;
            padding-right: 30px;
            padding-left: 30px;
            padding-top: 5px;
            padding-bottom: 10px;
            text-align: left;
        }
        
        .icon-preview {
            display: inline;
            padding-left: 40.8rem;
        }
        
        .icon-editor {
            display: inline;
            padding-left: 32rem;
        }